body { background-color: lightcoral;
}

body {
   font-family: Arial, sans-serif;
   text-align: center;
   background-color: #ec9f9f;
}
h1 {
   color: #333;
}
#sudoku-container {
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
table {
   border-collapse: collapse;
   margin: auto;
}
td {
   border: 1px solid #999;
   width: 40px;
   height: 40px;
}
input {
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 18px;
}
controls button {
   margin: 10px;
   padding: 10px 20px;
}
